ImagesWcfServiceClient/Connected Services/ImagesWcfServiceReference/ImagesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/ImagesService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ImagesWcfService" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextThumbnails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberOfThumbnails" type="xs:int" />
        <xs:element minOccurs="0" name="widthOfThumbnail" type="xs:int" />
        <xs:element minOccurs="0" name="resetToBeginning" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextThumbnailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="GetNextThumbnailsResult" nillable="true" type="q1:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextThumbnailsWithSuchTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberOfThumbnails" type="xs:int" />
        <xs:element minOccurs="0" name="widthOfThumbnail" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="tags" nillable="true" type="q2:ArrayOfTag" />
        <xs:element minOccurs="0" name="resetToBeginning" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextThumbnailsWithSuchTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="GetNextThumbnailsWithSuchTagsResult" nillable="true" type="q3:ArrayOfImage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullSizeImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullSizeImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="GetFullSizeImageResult" nillable="true" type="q4:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="GetAllTagsResult" nillable="true" type="q5:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="image" nillable="true" type="q6:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="image" nillable="true" type="q7:Image" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="tag" nillable="true" type="q8:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ImagesWcfService" minOccurs="0" name="tag" nillable="true" type="q9:Tag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Unsubscribe">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyAboutDatabaseUpdate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>